@model List<ApplicationUser>

@{
    ViewData["Title"] = "User List";
}

<h2>Manage Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger"> Delete User</a>
                </td>
            </tr>
        }
    </tbody>
</table>