@model IEnumerable<RccgWeb.Models.Parish>

<h2>Parishes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pastor</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var parish in Model)
        {
            <tr>
                <td>@parish.ParishName</td>
                <td>@parish.ParishPastor</td>
                <td>@parish.Location</td>
                <td>
                    <a asp-controller="Admin" asp-action="ChurchDetails" asp-route-id="@parish.ChurchId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@parish.ParishId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddParish" class="btn btn-primary">Add New Parish</a>